<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog Create</h1>
     <form action="/" method="post">
        <p><label for="blogcreate">Create your blog</label></p>
        <textarea name="content" id="blogcreate"></textarea>
        <br>
        <input type="submit" value="Submit">
     </form> 
</body>
</html>

